openapi: 3.2.0
info:
  description: Specification of the Socket API endpoints
  title: Endpoints Audit Log API
  version: '0'
servers:
- url: https://api.socket.dev/v0
tags:
- name: Audit Log
paths:
  /orgs/{org_slug}/audit-log:
    get:
      tags:
      - Audit Log
      summary: Get Audit Log Events
      operationId: getAuditLogEvents
      parameters:
      - name: org_slug
        in: path
        required: true
        description: The slug of the organization
        schema:
          type: string
      - name: type
        in: query
        required: false
        description: Filter audit log events by type. Omit for all types.
        schema:
          type: string
          enum:
          - AddLicenseOverlayNote
          - AssociateLabel
          - CancelInvitation
          - ChangeMemberRole
          - ChangePlanSubscriptionSeats
          - CreateApiToken
          - CreateArtifact
          - CreateAlertPolicy
          - CreateFirewallCustomRegistry
          - CreateFirewallDeploymentConfig
          - CreateLabel
          - CreateOauthRefreshToken
          - CreateRepoAccessRule
          - CreateUserWithPassword
          - CreateWebhook
          - CreateTicket
          - CreateTicketingConfiguration
          - CoanaCliLegacyModeCutoffUpdated
          - CoanaCliLegacyModeDemoteOrg
          - CoanaCliLegacyModePromoteOrg
          - CreateAlertResolution
          - DeleteAlertPolicy
          - DeleteAlertResolution
          - DeleteAlertTriage
          - DeleteApiToken
          - DeleteFirewallCustomRegistry
          - DeleteFirewallDeploymentConfig
          - DeleteFullScan
          - DeleteLabel
          - DeleteLabelSetting
          - DeleteRepoAccessRule
          - DeleteReport
          - DeleteRepository
          - DeleteTicketingConfiguration
          - DeleteWebhook
          - DisablePythonCliRunStreamingOverride
          - DisassociateLabel
          - DisconnectAsanaIntegration
          - DisconnectJiraIntegration
          - DisconnectLinearIntegration
          - DowngradeOrganizationPlan
          - EnablePythonCliRunStreamingOverride
          - EnqueueAutopatchMergeRun
          - EnqueueAutopatchPrepareJob
          - FinalizeAlertPolicyMigration
          - JoinOrganization
          - AsanaIntegrationConnected
          - JiraIntegrationConnected
          - LinearIntegrationConnected
          - MemberAdded
          - MemberRemoved
          - MemberRoleChanged
          - RemoveLicenseOverlay
          - RemoveMember
          - RollbackAlertPolicyMigration
          - ResetInvitationLink
          - ResetOrganizationSettingToDefault
          - RevokeOauthToken
          - RotateOauthRefreshToken
          - RevokeApiToken
          - RotateApiToken
          - SendInvitation
          - SessionRevokedByUser
          - SetLabelSettingToDefault
          - SetSsoBypassMemberships
          - SetSsoBypassRbacRoles
          - StartAlertPolicyMigrationPreview
          - SSOEmailVerificationCompleted
          - SSOLoginCompleted
          - SvdBackfillLegacyOverlay
          - SvdReprocessClusters
          - SyncOrganization
          - TransferOwnership
          - UpdateAlertTriage
          - UpdateApiTokenCommitter
          - UpdateApiTokenMaxQuota
          - UpdateApiTokenName
          - UpdateApiTokenScopes
          - UpdateApiTokenVisibility
          - UpdateAutopatchCurated
          - UpdateAutopatchPrepareConfig
          - UpdateFirewallCustomRegistry
          - UpdateFirewallDeploymentConfig
          - UpdateLabel
          - UpdateLabelSetting
          - UpdateLicenseOverlay
          - UpdateOrganizationSetting
          - UpdateRepoAccessRule
          - UpdateTicketingConfiguration
          - UpdateWebhook
          - UpgradeOrganizationPlan
          - UserMagicLinkSent
          - UserSignedIn
          - UserSignedOut
      - name: per_page
        in: query
        required: false
        description: Number of events per page
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 30
      - name: page
        in: query
        required: false
        description: Page token
        schema:
          type: string
          default: '1'
      - name: from
        in: query
        required: false
        description: A Unix timestamp in seconds to filter results prior to this date.
        schema:
          type: string
      security:
      - bearerAuth:
        - audit-log:list
      - basicAuth:
        - audit-log:list
      description: 'Paginated list of audit log events.


        This endpoint consumes 1 unit of your quota.


        This endpoint requires the following org token scopes:

        - audit-log:list'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                description: ''
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        event_id:
                          type: string
                          description: ''
                          default: ''
                        created_at:
                          type: string
                          description: ''
                          default: ''
                        updated_at:
                          type: string
                          description: ''
                          default: ''
                        country_code:
                          type:
                          - string
                          - 'null'
                          description: ''
                          default: ''
                        organization_id:
                          type:
                          - string
                          - 'null'
                          description: ''
                          default: ''
                        ip_address:
                          type:
                          - string
                          - 'null'
                          description: ''
                          default: ''
                        payload:
                          type:
                          - object
                          - 'null'
                          description: ''
                          default: null
                        status_code:
                          type:
                          - integer
                          - 'null'
                          description: ''
                          default: 0
                        type:
                          type: string
                          description: ''
                          default: ''
                        user_agent:
                          type:
                          - string
                          - 'null'
                          description: ''
                          default: ''
                        user_id:
                          type:
                          - string
                          - 'null'
                          description: ''
                          default: ''
                        user_email:
                          type: string
                          description: ''
                          default: ''
                        user_image:
                          type: string
                          description: ''
                          default: ''
                        organization_name:
                          type: string
                          description: ''
                          default: ''
                      description: ''
                    description: ''
                  nextPage:
                    type:
                    - string
                    - 'null'
                    description: ''
                    default: ''
                required:
                - nextPage
                - results
          description: The paginated list of events in an organizations audit log and the next page querystring token.
        '400':
          $ref: '#/components/responses/SocketBadRequest'
        '401':
          $ref: '#/components/responses/SocketUnauthorized'
        '403':
          $ref: '#/components/responses/SocketForbidden'
        '404':
          $ref: '#/components/responses/SocketNotFoundResponse'
        '429':
          $ref: '#/components/responses/SocketTooManyRequestsResponse'
      x-readme: {}
components:
  responses:
    SocketTooManyRequestsResponse:
      description: Insufficient quota for API route
      headers:
        Retry-After:
          description: 'Retry contacting the endpoint *at least* after seconds.

            See https://tools.ietf.org/html/rfc7231#section-7.1.3'
          schema:
            format: int32
            type: integer
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            description: ''
            properties:
              error:
                type: object
                additionalProperties: false
                description: ''
                properties:
                  message:
                    type: string
                    description: ''
                    default: ''
                  details:
                    type:
                    - object
                    - 'null'
                    description: ''
                    default: null
                required:
                - details
                - message
            required:
            - error
    SocketBadRequest:
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            description: ''
            properties:
              error:
                type: object
                additionalProperties: false
                description: ''
                properties:
                  message:
                    type: string
                    description: ''
                    default: ''
                  details:
                    type:
                    - object
                    - 'null'
                    description: ''
                    default: null
                required:
                - details
                - message
            required:
            - error
      description: Bad request
    SocketNotFoundResponse:
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            description: ''
            properties:
              error:
                type: object
                additionalProperties: false
                description: ''
                properties:
                  message:
                    type: string
                    description: ''
                    default: ''
                  details:
                    type:
                    - object
                    - 'null'
                    description: ''
                    default: null
                required:
                - details
                - message
            required:
            - error
      description: Resource not found
    SocketUnauthorized:
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            description: ''
            properties:
              error:
                type: object
                additionalProperties: false
                description: ''
                properties:
                  message:
                    type: string
                    description: ''
                    default: ''
                  details:
                    type:
                    - object
                    - 'null'
                    description: ''
                    default: null
                required:
                - details
                - message
            required:
            - error
      description: Unauthorized
    SocketForbidden:
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            description: ''
            properties:
              error:
                type: object
                additionalProperties: false
                description: ''
                properties:
                  message:
                    type: string
                    description: ''
                    default: ''
                  details:
                    type:
                    - object
                    - 'null'
                    description: ''
                    default: null
                required:
                - details
                - message
            required:
            - error
      description: Insufficient max_quota for API method
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Organization Tokens can be passed as a Bearer token
    basicAuth:
      type: http
      scheme: basic
      description: Organization Tokens can be passed as the user field in basic auth
