openapi: 3.0.0
info:
  description: Specification of the Socket API endpoints
  title: API Endpoints alerts deprecated API
  version: '0'
servers:
- url: https://api.socket.dev/v0
tags:
- name: deprecated
paths:
  /dependencies/upload:
    post:
      tags:
      - deprecated
      summary: Create a snapshot of all dependencies from manifest information
      deprecated: true
      operationId: createDependenciesSnapshot
      parameters:
      - name: repository
        in: query
        required: false
        description: ''
        schema:
          type: string
          default: ''
      - name: branch
        in: query
        required: false
        description: ''
        schema:
          type: string
          default: ''
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              additionalProperties:
                type: string
                default:
                  type: Buffer
                  data: []
                format: binary
                description: ''
              properties:
                repository:
                  type: string
                  description: ''
                  default: ''
                branch:
                  type: string
                  description: ''
                  default: ''
              description: ''
        required: false
      security:
      - bearerAuth:
        - report:write
      - basicAuth:
        - report:write
      description: '**This endpoint is deprecated.**


        Upload a set of manifest or lockfiles to get your dependency tree analyzed by Socket.

        You can upload multiple lockfiles in the same request, but each filename must be unique.


        The name of the file must be in the supported list.


        For example, these are valid filenames: "requirements.txt", "package.json", "folder/package.json", and "deep/nested/folder/package.json".


        This endpoint consumes 100 units of your quota.


        This endpoint requires the following org token scopes:

        - report:write'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                description: ''
                properties: {}
          description: ID of the dependencies snapshot
        '400':
          $ref: '#/components/responses/SocketBadRequest'
        '401':
          $ref: '#/components/responses/SocketUnauthorized'
        '403':
          $ref: '#/components/responses/SocketForbidden'
        '404':
          $ref: '#/components/responses/SocketNotFoundResponse'
        '429':
          $ref: '#/components/responses/SocketTooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/SocketInternalServerError'
      x-readme: {}
  /orgs/{org_slug}/full-scans/diff:
    get:
      tags:
      - deprecated
      summary: Diff Full Scans
      deprecated: true
      operationId: GetOrgDiffScan
      parameters:
      - name: org_slug
        in: path
        required: true
        description: The slug of the organization
        schema:
          type: string
      - name: after
        in: query
        required: true
        description: The full scan ID of the base/target of the diff (older)
        schema:
          type: string
      - name: before
        in: query
        required: true
        description: The full scan ID of the head/changed side of the diff (newer)
        schema:
          type: string
      - name: include_license_details
        in: query
        required: false
        description: Include license details in the response. This can increase the response size significantly.
        schema:
          type: boolean
          default: false
      - name: omit_unchanged
        in: query
        required: false
        description: Omit unchanged artifacts from the response. When set to true, the unchanged field will be set to null.
        schema:
          type: boolean
          default: false
      security:
      - bearerAuth:
        - full-scans:list
      - basicAuth:
        - full-scans:list
      description: '**This endpoint is deprecated.**


        Get the difference between two existing Full Scans. The results are not persisted.


        This endpoint consumes 1 unit of your quota.


        This endpoint requires the following org token scopes:

        - full-scans:list'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                description: ''
                properties:
                  before:
                    type: object
                    additionalProperties: false
                    description: ''
                    properties:
                      id:
                        type: string
                        description: ''
                        default: ''
                      created_at:
                        type: string
                        description: ''
                        default: ''
                      updated_at:
                        type: string
                        description: ''
                        default: ''
                      organization_id:
                        type: string
                        description: ''
                        default: ''
                      organization_slug:
                        type: string
                        description: ''
                        default: ''
                      repository_id:
                        type: string
                        description: ''
                        default: ''
                      repository_slug:
                        type: string
                        description: ''
                        default: ''
                      branch:
                        type: string
                        description: ''
                        default: ''
                        nullable: true
                      commit_message:
                        type: string
                        description: ''
                        default: ''
                        nullable: true
                      commit_hash:
                        type: string
                        description: ''
                        default: ''
                        nullable: true
                      pull_request:
                        type: integer
                        description: ''
                        default: 0
                        nullable: true
                      committers:
                        type: array
                        items:
                          type: string
                          description: ''
                          default: ''
                        description: ''
                      html_url:
                        type: string
                        description: ''
                        default: ''
                        nullable: true
                      api_url:
                        type: string
                        description: ''
                        default: ''
                        nullable: true
                    required:
                    - api_url
                    - branch
                    - commit_hash
                    - commit_message
                    - committers
                    - created_at
                    - html_url
                    - id
                    - organization_id
                    - organization_slug
                    - pull_request
                    - repository_id
                    - repository_slug
                    - updated_at
                  after:
                    type: object
                    additionalProperties: false
                    description: ''
                    properties:
                      id:
                        type: string
                        description: ''
                        default: ''
                      created_at:
                        type: string
                        description: ''
                        default: ''
                      updated_at:
                        type: string
                        description: ''
                        default: ''
                      organization_id:
                        type: string
                        description: ''
                        default: ''
                      organization_slug:
                        type: string
                        description: ''
                        default: ''
                      repository_id:
                        type: string
                        description: ''
                        default: ''
                      repository_slug:
                        type: string
                        description: ''
                        default: ''
                      branch:
                        type: string
                        description: ''
                        default: ''
                        nullable: true
                      commit_message:
                        type: string
                        description: ''
                        default: ''
                        nullable: true
                      commit_hash:
                        type: string
                        description: ''
                        default: ''
                        nullable: true
                      pull_request:
                        type: integer
                        description: ''
                        default: 0
                        nullable: true
                      committers:
                        type: array
                        items:
                          type: string
                          description: ''
                          default: ''
                        description: ''
                      html_url:
                        type: string
                        description: ''
                        default: ''
                        nullable: true
                      api_url:
                        type: string
                        description: ''
                        default: ''
                        nullable: true
                    required:
                    - api_url
                    - branch
                    - commit_hash
                    - commit_message
                    - committers
                    - created_at
                    - html_url
                    - id
                    - organization_id
                    - organization_slug
                    - pull_request
                    - repository_id
                    - repository_slug
                    - updated_at
                  artifacts:
                    type: object
                    additionalProperties: false
                    description: Artifacts in the diff grouped by how they changed between the before and after scans.
                    properties:
                      added:
                        type: array
                        items:
                          $ref: '#/components/schemas/SocketDiffArtifact'
                        description: Artifacts present in the after scan but not the before scan.
                      removed:
                        type: array
                        items:
                          $ref: '#/components/schemas/SocketDiffArtifact'
                        description: Artifacts present in the before scan but not the after scan.
                      unchanged:
                        type: array
                        items:
                          $ref: '#/components/schemas/SocketDiffArtifact'
                        description: Artifacts present in both scans with no changes. Null when omitted via the omit_unchanged query parameter.
                        nullable: true
                      replaced:
                        type: array
                        items:
                          $ref: '#/components/schemas/SocketDiffArtifact'
                        description: Artifacts replaced between the scans, e.g. the same package supplied by a different source.
                      updated:
                        type: array
                        items:
                          $ref: '#/components/schemas/SocketDiffArtifact'
                        description: Artifacts whose version changed between the scans.
                    required:
                    - added
                    - removed
                    - replaced
                    - unchanged
                    - updated
                  directDependenciesChanged:
                    type: boolean
                    default: false
                    description: ''
                  diff_report_url:
                    type: string
                    description: ''
                    default: ''
                    nullable: true
                required:
                - after
                - artifacts
                - before
                - diff_report_url
                - directDependenciesChanged
          description: The difference between the two provided Full Scans.
        '400':
          $ref: '#/components/responses/SocketBadRequest'
        '401':
          $ref: '#/components/responses/SocketUnauthorized'
        '403':
          $ref: '#/components/responses/SocketForbidden'
        '404':
          $ref: '#/components/responses/SocketNotFoundResponse'
        '429':
          $ref: '#/components/responses/SocketTooManyRequestsResponse'
      x-readme: {}
  /orgs/{org_slug}/full-scans/diff/gfm:
    get:
      tags:
      - deprecated
      summary: SCM Comment for Scan Diff
      deprecated: true
      operationId: GetOrgFullScanDiffGfm
      parameters:
      - name: org_slug
        in: path
        required: true
        description: The slug of the organization
        schema:
          type: string
      - name: after
        in: query
        required: true
        description: The head full scan ID (newer)
        schema:
          type: string
      - name: before
        in: query
        required: true
        description: The base full scan ID (older)
        schema:
          type: string
      - name: github_installation_id
        in: query
        required: false
        description: The ID of the GitHub installation. This will be used to get the GitHub installation settings. If not provided, the default GitHub installation settings will be used.
        schema:
          type: string
      security:
      - bearerAuth:
        - full-scans:list
      - basicAuth:
        - full-scans:list
      description: '**This endpoint is deprecated.**


        Get the dependency overview and dependency alert comments in GitHub flavored markdown between the diff between two existing full scans.


        This endpoint consumes 1 unit of your quota.


        This endpoint requires the following org token scopes:

        - full-scans:list'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                description: ''
                properties:
                  before:
                    type: object
                    additionalProperties: false
                    description: ''
                    properties:
                      id:
                        type: string
                        description: ''
                        default: ''
                      created_at:
                        type: string
                        description: ''
                        default: ''
                      updated_at:
                        type: string
                        description: ''
                        default: ''
                      organization_id:
                        type: string
                        description: ''
                        default: ''
                      organization_slug:
                        type: string
                        description: ''
                        default: ''
                      repository_id:
                        type: string
                        description: ''
                        default: ''
                      repository_slug:
                        type: string
                        description: ''
                        default: ''
                      branch:
                        type: string
                        description: ''
                        default: ''
                        nullable: true
                      commit_message:
                        type: string
                        description: ''
                        default: ''
                        nullable: true
                      commit_hash:
                        type: string
                        description: ''
                        default: ''
                        nullable: true
                      pull_request:
                        type: integer
                        description: ''
                        default: 0
                        nullable: true
                      committers:
                        type: array
                        items:
                          type: string
                          description: ''
                          default: ''
                        description: ''
                      html_url:
                        type: string
                        description: ''
                        default: ''
                        nullable: true
                      api_url:
                        type: string
                        description: ''
                        default: ''
                        nullable: true
                    required:
                    - api_url
                    - branch
                    - commit_hash
                    - commit_message
                    - committers
                    - created_at
                    - html_url
                    - id
                    - organization_id
                    - organization_slug
                    - pull_request
                    - repository_id
                    - repository_slug
                    - updated_at
                  after:
                    type: object
                    additionalProperties: false
                    description: ''
                    properties:
                      id:
                        type: string
                        description: ''
                        default: ''
                      created_at:
                        type: string
                        description: ''
                        default: ''
                      updated_at:
                        type: string
                        description: ''
                        default: ''
                      organization_id:
                        type: string
                        description: ''
                        default: ''
                      organization_slug:
                        type: string
                        description: ''
                        default: ''
                      repository_id:
                        type: string
                        description: ''
                        default: ''
                      repository_slug:
                        type: string
                        description: ''
                        default: ''
                      branch:
                        type: string
                        description: ''
                        default: ''
                        nullable: true
                      commit_message:
                        type: string
                        description: ''
                        default: ''
                        nullable: true
                      commit_hash:
                        type: string
                        description: ''
                        default: ''
                        nullable: true
                      pull_request:
                        type: integer
                        description: ''
                        default: 0
                        nullable: true
                      committers:
                        type: array
                        items:
                          type: string
                          description: ''
                          default: ''
                        description: ''
                      html_url:
                        type: string
                        description: ''
                        default: ''
                        nullable: true
                      api_url:
                        type: string
                        description: ''
                        default: ''
                        nullable: true
                    required:
                    - api_url
                    - branch
                    - commit_hash
                    - commit_message
                    - committers
                    - created_at
                    - html_url
                    - id
                    - organization_id
                    - organization_slug
                    - pull_request
                    - repository_id
                    - repository_slug
                    - updated_at
                  comments:
                    type: object
                    additionalProperties: false
                    description: ''
                    properties:
                      overview:
                        type: string
                        description: ''
                        default: ''
                      alerts:
                        type: string
                        description: ''
                        default: ''
                    required:
                    - alerts
                    - overview
                  incomplete:
                    type: boolean
                    default: false
                    description: True when either side of the diff was truncated at the plan's dependency limit. When set, the comments contain a limit-exceeded notice instead of a report rendered from the imbalanced diff.
                  directDependenciesChanged:
                    type: boolean
                    default: false
                    description: ''
                  diff_report_url:
                    type: string
                    description: ''
                    default: ''
                    nullable: true
                required:
                - after
                - before
                - comments
                - diff_report_url
                - directDependenciesChanged
                - incomplete
          description: Metadata about the full scans and the dependency overview and dependency alert comment. Can be used in a pull request context.
        '400':
          $ref: '#/components/responses/SocketBadRequest'
        '401':
          $ref: '#/components/responses/SocketUnauthorized'
        '403':
          $ref: '#/components/responses/SocketForbidden'
        '404':
          $ref: '#/components/responses/SocketNotFoundResponse'
        '429':
          $ref: '#/components/responses/SocketTooManyRequestsResponse'
      x-readme: {}
  /orgs/{org_slug}/settings/license-policy:
    get:
      tags:
      - deprecated
      summary: Get Organization License Policy
      deprecated: true
      operationId: getOrgLicensePolicy
      parameters:
      - name: org_slug
        in: path
        required: true
        description: The slug of the organization
        schema:
          type: string
      security:
      - bearerAuth:
        - license-policy:read
      - basicAuth:
        - license-policy:read
      description: '**This endpoint is deprecated.** Use the [successor version](https://docs.socket.dev/reference/viewlicensepolicy) instead.


        Retrieve the license policy of an organization.


        This endpoint consumes 1 unit of your quota.


        This endpoint requires the following org token scopes:

        - license-policy:read'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: ''
                default: null
          description: Retrieved license policy details
        '400':
          $ref: '#/components/responses/SocketBadRequest'
        '401':
          $ref: '#/components/responses/SocketUnauthorized'
        '403':
          $ref: '#/components/responses/SocketForbidden'
        '404':
          $ref: '#/components/responses/SocketNotFoundResponse'
        '429':
          $ref: '#/components/responses/SocketTooManyRequestsResponse'
      x-readme: {}
  /threat-feed:
    get:
      tags:
      - deprecated
      summary: Get Threat Feed Items (Deprecated)
      deprecated: true
      operationId: getThreatFeedItems
      parameters:
      - name: per_page
        in: query
        required: false
        description: Number of threats per page
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 30
      - name: page
        in: query
        required: false
        description: Page token
        schema:
          type: string
          default: '1'
      - name: sort
        in: query
        required: false
        description: Sort sort the threat feed by ID or createdAt attribute.
        schema:
          type: string
          enum:
          - id
          - created_at
          default: id
      - name: discovery_period
        in: query
        required: false
        description: Filter results by discovery period
        schema:
          type: string
          enum:
          - 1h
          - 6h
          - 1d
          - 7d
          - 30d
          - 90d
          - 365d
      - name: direction
        in: query
        required: false
        description: Ordering direction of the sort attribute
        schema:
          type: string
          enum:
          - desc
          - asc
          default: desc
      - name: filter
        in: query
        required: false
        description: 'Filter by threat classification. Supported values: `mal` (malware, including possible malware), `vuln` (vulnerability), `typo` (typosquat, including possible typosquat), `anom` (anomaly), `spy` (telemetry), `obf` (obfuscated code), `dual` (dual-use tool), `joke` (protestware or joke package), `tp` (all confirmed true positives), `fp` (false positive), `u` (unreviewed), `c` (classified, i.e. anything except unreviewed).'
        schema:
          type: string
          enum:
          - u
          - c
          - fp
          - tp
          - mal
          - vuln
          - anom
          - joke
          - spy
          - typo
          - obf
          - dual
          default: mal
      - name: name
        in: query
        required: false
        description: Filter threats by package name
        schema:
          type: string
          default: ''
      - name: version
        in: query
        required: false
        description: Filter threats by package version
        schema:
          type: string
          default: ''
      - name: is_human_reviewed
        in: query
        required: false
        description: Only return threats which have been human-reviewed
        schema:
          type: boolean
          default: false
      - name: ecosystem
        in: query
        required: false
        description: Filter threats by package ecosystem.
        schema:
          type: string
          enum:
          - github
          - cargo
          - clawhub
          - composer
          - chrome
          - golang
          - huggingface
          - maven
          - npm
          - nuget
          - vscode
          - pypi
          - gem
          - swift
      security:
      - bearerAuth:
        - threat-feed:list
      - basicAuth:
        - threat-feed:list
      description: '**This endpoint is deprecated.** Use the [successor version](https://docs.socket.dev/reference/getorgthreatfeeditems) instead.


        Paginated list of threat feed items.


        This endpoint requires an Enterprise Plan with Threat Feed add-on. [Contact](https://socket.dev/demo?utm_source=api-docs&utm_medium=referral&utm_campaign=tracking) our sales team for more details.


        This endpoint consumes 1 unit of your quota.


        This endpoint requires the following org token scopes:

        - threat-feed:list'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                description: ''
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        createdAt:
                          type: string
                          description: ISO 8601 timestamp of when the threat in the package artifact was first discovered
                          default: ''
                          format: date-time
                        updatedAt:
                          type: string
                          description: ISO 8601 timestamp of when the threat record for the package artifact was last updated (e.g., classification changed, package removed from registry, etc.)
                          default: ''
                          format: date-time
                        publishedAt:
                          type: string
                          description: ISO 8601 timestamp of when the package artifact was published to the respective registry
                          default: ''
                          format: date-time
                          nullable: true
                        description:
                          type: string
                          description: Detailed description of the underlying threat
                          default: ''
                        fileSha256:
                          type: string
                          description: Hex-encoded SHA-256 hash of the malicious file content, usable as an indicator of compromise (IOC). Null when no file content hash is available for the threat.
                          default: ''
                          nullable: true
                        id:
                          type: integer
                          description: Unique identifier of the threat feed entry
                          default: 0
                        locationHtmlUrl:
                          type: string
                          description: URL to the threat details page on Socket
                          default: ''
                          format: uri
                        packageHtmlUrl:
                          type: string
                          description: URL to the affected package page on Socket
                          default: ''
                          format: uri
                        purl:
                          type: string
                          description: Package URL (PURL) of the affected package artifact
                          default: ''
                        removedAt:
                          type: string
                          description: ISO 8601 timestamp of when the package artifact was removed from the respective registry, or null if the package is still available on the registry
                          default: ''
                          format: date-time
                          nullable: true
                        threatType:
                          type: string
                          description: 'Threat classification. Possible values: `malware` (known malware), `possible_malware` (AI-detected potential malware), `vulnerability` (potential vulnerability), `typosquat` (human-reviewed typosquat), `possible_typosquat` (AI-detected potential typosquat), `anomaly` (anomalous behavior), `telemetry` (telemetry), `obfuscated` (obfuscated code), `dual_use` (dual-use tool), `troll` (protestware or joke package), `unreviewed` (not yet reviewed), `false_positive` (confirmed false positive).'
                          default: ''
                        needsHumanReview:
                          type: boolean
                          default: false
                          description: Whether the threat still is in need of human review by the threat research team
                        threatInstanceId:
                          type: integer
                          description: Unique threat instance identifier across artifacts
                          default: 0
                      description: ''
                    description: ''
                  nextPage:
                    type: string
                    description: ''
                    default: ''
                    nullable: true
                required:
                - nextPage
                - results
          description: The paginated list of threats in the feed and the next page querystring token.
        '400':
          $ref: '#/components/responses/SocketBadRequest'
        '401':
          $ref: '#/components/responses/SocketUnauthorized'
        '403':
          $ref: '#/components/responses/SocketForbidden'
        '404':
          $ref: '#/components/responses/SocketNotFoundResponse'
        '429':
          $ref: '#/components/responses/SocketTooManyRequestsResponse'
      x-readme: {}
  /saturate-license-policy:
    post:
      tags:
      - deprecated
      summary: Saturate License Policy (Legacy)
      deprecated: true
      operationId: saturateLicensePolicy
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              description: ''
              properties:
                allow:
                  $ref: '#/components/schemas/LicenseAllowList'
                warn:
                  $ref: '#/components/schemas/LicenseAllowList'
                monitor:
                  $ref: '#/components/schemas/LicenseAllowList'
                allowedApprovalSources:
                  type: array
                  items:
                    type: string
                    description: ''
                    default: ''
                  description: ''
                  nullable: true
                allowedFamilies:
                  type: array
                  items:
                    type: string
                    description: ''
                    default: ''
                  description: ''
                  nullable: true
                allowedTiers:
                  type: array
                  items:
                    type: string
                    description: ''
                    default: ''
                  description: ''
                  nullable: true
                allowedStrings:
                  type: array
                  items:
                    type: string
                    description: ''
                    default: ''
                  description: ''
                  nullable: true
                allowedPURLs:
                  type: array
                  items:
                    type: string
                    description: ''
                    default: ''
                  description: ''
                  nullable: true
                focusAlertsHere:
                  type: boolean
                  default: false
                  description: ''
                  nullable: true
              required:
              - allow
              - allowedApprovalSources
              - allowedFamilies
              - allowedPURLs
              - allowedStrings
              - allowedTiers
              - focusAlertsHere
              - monitor
              - warn
        required: false
      security:
      - bearerAuth:
        - packages:list
      - basicAuth:
        - packages:list
      description: "**This endpoint is deprecated.** Use the [successor version](https://docs.socket.dev/reference/updateorglicensepolicy) instead.\n\nGet the \"saturated\" version of a license policy's allow list, filling in the entire set of allowed\nlicense data. For example, the saturated form of a license allow list which only specifies that\nlicenses in the tier \"maximal copyleft\" are allowed is shown below (note the expanded `allowedStrings` property):\n\n```json\n{\n  \"allowedApprovalSources\": [],\n  \"allowedFamilies\": [],\n  \"allowedTiers\": [\n    \"maximal copyleft\"\n  ],\n  \"allowedStrings\": [\n    \"Parity-6.0.0\",\n    \"QPL-1.0-INRIA-2004\",\n    \"QPL-1.0\",\n    \"RPL-1.1\",\n    \"RPL-1.5\"\n  ],\n  \"allowedPURLs\": [],\n  \"focusAlertsHere\": false\n}\n```\n\nThis may be helpful for users who want to compose more complex sets of allowed license data via\nthe \"allowedStrings\" property, or for users who want to know more about the contents of a particular\nlicense group (family, tier, or approval source).\n\n## Allow List Schema\n\n```json\n```\n\nwhere\n\nPermissiveTier ::= \"model permissive\" | \"gold\" | \"silver\" | \"bronze\" | \"lead\"\nCopyleftTier ::= \"maximal copyleft\" | \"network copyleft\" | \"strong copyleft\" | \"weak copyleft\"\n\n## Return Value\n\nThe returned value has the same shape as a license allow list:\n\n```json\n{\n  allowedApprovalSources?: Array<\"fsf\" | \"osi\">,\n  allowedFamilies?: Array<\"copyleft\" | \"permissive\">,\n  allowedTiers?: Array<PermissiveTier | CopyleftTier>,\n  allowedStrings?: Array<string>\n  allowedPURLs?: Array<string>\n  focusAlertsHere?: boolean\n}\n```\n\nwhere\n\nPermissiveTier ::= \"model permissive\" | \"gold\" | \"silver\" | \"bronze\" | \"lead\"\nCopyleftTier ::= \"maximal copyleft\" | \"network copyleft\" | \"strong copyleft\" | \"weak copyleft\"\n\nreaders can learn more about [copyleft tiers](https://blueoakcouncil.org/copyleft) and [permissive tiers](https://blueoakcouncil.org/list) by reading the linked resources.\n\n### Example request bodies:\n```json\n{\n  \"allowedApprovalSources\": [\"fsf\"],\n  \"allowedPURLs\": [],\n  \"allowedFamilies\": [\"copyleft\"],\n  \"allowedTiers\": [\"model permissive\"],\n  \"allowedStrings\": [\"License :: OSI Approved :: BSD License\"],\n  \"focusAlertsHere\": false\n}\n```\n\nThis endpoint consumes 100 units of your quota.\n\nThis endpoint requires the following org token scopes:\n- packages:list"
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicensePolicy'
          description: Saturated License Allow List
        '400':
          $ref: '#/components/responses/SocketBadRequest'
        '401':
          $ref: '#/components/responses/SocketUnauthorized'
        '403':
          $ref: '#/components/responses/SocketForbidden'
        '404':
          $ref: '#/components/responses/SocketNotFoundResponse'
        '429':
          $ref: '#/components/responses/SocketTooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/SocketInternalServerError'
      x-readme: {}
  /settings:
    post:
      tags:
      - deprecated
      summary: Calculate settings
      deprecated: true
      operationId: postSettings
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: false
                properties:
                  organization:
                    type: string
                    description: ''
                    default: ''
                description: ''
              description: ''
        description: Array of organization selector objects (with `organization` field holding the organization ID) to get settings for
        required: false
      security:
      - bearerAuth: []
      - basicAuth: []
      description: '**This endpoint is deprecated.** Use the [successor version](https://docs.socket.dev/reference/updateorgsecuritypolicy) instead.


        Get current settings for the requested organizations and default settings to allow deferrals.


        This endpoint consumes 1 unit of your quota.


        This endpoint requires the following org token scopes:

        - No Scopes Required, but authentication is required'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                description: ''
                properties:
                  defaults:
                    type: object
                    additionalProperties: false
                    description: ''
                    properties:
                      issueRules:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            action:
                              type: string
                              enum:
                              - error
                              - ignore
                              - warn
                    required:
                    - issueRules
                  entries:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      description: ''
                      properties:
                        start:
                          type: string
                          description: ''
                          default: ''
                          nullable: true
                        settings:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              deferTo:
                                type: string
                                nullable: true
                              issueRules:
                                type: object
                                nullable: false
                                additionalProperties:
                                  type: object
                                  nullable: false
                                  properties:
                                    action:
                                      type: string
                                      enum:
                                      - defer
                                      - error
                                      - ignore
                                      - warn
                                      - monitor
                                  required:
                                  - action
                            required:
                            - deferTo
                            - issueRules
                      required:
                      - settings
                      - start
                    description: ''
                required:
                - defaults
                - entries
          description: Organization settings. Returned object contains default issue rules and an array of entries, with each entry representing an organization's settings.
        '401':
          $ref: '#/components/responses/SocketUnauthorized'
        '403':
          $ref: '#/components/responses/SocketForbidden'
        '404':
          $ref: '#/components/responses/SocketNotFoundResponse'
        '429':
          $ref: '#/components/responses/SocketTooManyRequestsResponse'
      x-readme: {}
  /report/supported:
    get:
      tags:
      - deprecated
      summary: Get supported files for report
      deprecated: true
      operationId: getReportSupportedFiles
      security: []
      description: '**This endpoint is deprecated.** Deprecated since 2023-01-15. Use the [successor version](https://docs.socket.dev/reference/getsupportedfiles) instead.


        This route has been moved to the `orgs/{org_slug}/supported-files` endpoint.


        Get a list of supported files for project report generation.

        Files are categorized first by environment (e.g. NPM or PyPI), then by name.


        Files whose names match the patterns returned by this endpoint can be uploaded for report generation.

        Examples of supported filenames include `package.json`, `package-lock.json`, and `yarn.lock`.


        This endpoint consumes 1 unit of your quota.


        This endpoint requires the following org token scopes:'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  additionalProperties:
                    type: object
                    additionalProperties: false
                    description: ''
                    properties:
                      pattern:
                        type: string
                        description: ''
                        default: ''
                    required:
                    - pattern
                  properties: {}
                  description: ''
                properties: {}
                description: ''
          description: Glob patterns used to match supported files
        '400':
          $ref: '#/components/responses/SocketBadRequest'
        '429':
          $ref: '#/components/responses/SocketTooManyRequestsResponse'
      x-readme: {}
  /report/delete/{id}:
    delete:
      tags:
      - deprecated
      summary: Delete a report
      deprecated: true
      operationId: deleteReport
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      security:
      - bearerAuth:
        - report:write
      - basicAuth:
        - report:write
      description: '**This endpoint is deprecated.** Use the [successor version](https://docs.socket.dev/reference) instead.


        Deprecated: Use `/orgs/{org_slug}/full-scans` instead. Delete a specific project report generated with the GitHub app.


        This endpoint consumes 10 units of your quota.


        This endpoint requires the following org token scopes:

        - report:write'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                description: ''
                properties:
                  status:
                    type: string
                    description: ''
                    default: ok
                required:
                - status
          description: Success
        '400':
          $ref: '#/components/responses/SocketBadRequest'
        '401':
          $ref: '#/components/responses/SocketUnauthorized'
        '403':
          $ref: '#/components/responses/SocketForbidden'
        '404':
          $ref: '#/components/responses/SocketNotFoundResponse'
        '429':
          $ref: '#/components/responses/SocketTooManyRequestsResponse'
      x-readme: {}
  /report/list:
    get:
      tags:
      - deprecated
      summary: Get list of reports
      deprecated: true
      operationId: getReportList
      parameters:
      - name: from
        in: query
        required: false
        description: A Unix timestamp in seconds to filter results prior to this date.
        schema:
          type: string
      - name: repo
        in: query
        required: false
        description: 'When defined, returns only reports for the associated repository slug. '
        schema:
          type: string
      security:
      - bearerAuth:
        - report:list
      - basicAuth:
        - report:list
      description: '**This endpoint is deprecated.** Use the [successor version](https://docs.socket.dev/reference) instead.


        Deprecated: Use `/orgs/{org_slug}/full-scans` instead. Get all your project reports generated with the GitHub app.


        This endpoint consumes 10 units of your quota.


        This endpoint requires the following org token scopes:

        - report:list'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: false
                  description: ''
                  properties:
                    id:
                      type: string
                      description: ''
                      default: ''
                    url:
                      type: string
                      description: ''
                      default: ''
                    repo:
                      type: string
                      description: ''
                      default: ''
                    branch:
                      type: string
                      description: ''
                      default: ''
                    pull_requests:
                      type: object
                      description: ''
                      default: null
                    commit:
                      type: string
                      description: ''
                      default: ''
                    owner:
                      type: string
                      description: ''
                      default: ''
                    created_at:
                      type: string
                      description: ''
                      default: ''
                  required:
                  - branch
                  - commit
                  - created_at
                  - id
                  - owner
                  - pull_requests
                  - repo
                  - url
                description: ''
          description: List of project reports
        '400':
          $ref: '#/components/responses/SocketBadRequest'
        '401':
          $ref: '#/components/responses/SocketUnauthorized'
        '403':
          $ref: '#/components/responses/SocketForbidden'
        '404':
          $ref: '#/components/responses/SocketNotFoundResponse'
        '429':
          $ref: '#/components/responses/SocketTooManyRequestsResponse'
      x-readme: {}
  /report/upload:
    put:
      tags:
      - deprecated
      summary: Create a report
      deprecated: true
      operationId: createReport
      parameters:
      - name: workspace
        in: query
        required: false
        description: The workspace of the repository to associate the full-scan with.
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              additionalProperties:
                type: string
                default:
                  type: Buffer
                  data: []
                format: binary
                description: ''
              properties:
                issueRules:
                  type: object
                  additionalProperties:
                    type: boolean
                    default: false
                    description: ''
                  properties: {}
                  description: ''
              description: ''
        required: false
      security:
      - bearerAuth:
        - report:write
      - basicAuth:
        - report:write
      description: '**This endpoint is deprecated.** Use the [successor version](https://docs.socket.dev/reference/createorgfullscan) instead.


        Deprecated: Use `/orgs/{org_slug}/full-scans` instead.


        Upload a lockfile to get your project analyzed by Socket.

        You can upload multiple lockfiles in the same request, but each filename must be unique.


        The name of the file must be in the supported list.


        For example, these are valid filenames: `package.json`, `folder/package.json` and `deep/nested/folder/package.json`.


        This endpoint consumes 100 units of your quota.


        This endpoint requires the following org token scopes:

        - report:write'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                description: ''
                properties:
                  id:
                    type: string
                    description: ''
                    default: ''
                  url:
                    type: string
                    description: ''
                    default: ''
                required:
                - id
                - url
          description: ID and URL of the project report
        '400':
          $ref: '#/components/responses/SocketBadRequest'
        '401':
          $ref: '#/components/responses/SocketUnauthorized'
        '403':
          $ref: '#/components/responses/SocketForbidden'
        '404':
          $ref: '#/components/responses/SocketNotFoundResponse'
        '429':
          $ref: '#/components/responses/SocketTooManyRequestsResponse'
      x-readme: {}
  /report/view/{id}:
    get:
      tags:
      - deprecated
      summary: View a report
      deprecated: true
      operationId: getReport
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      security:
      - bearerAuth:
        - report:read
      - basicAuth:
        - report:read
      description: '**This endpoint is deprecated.** Use the [successor version](https://docs.socket.dev/reference/getorgfullscan) instead.


        Deprecated: Use `/orgs/{org_slug}/full-scans` instead. Get all the issues, packages, and scores related to an specific project report.


        This endpoint consumes 10 units of your quota.


        This endpoint requires the following org token scopes:

        - report:read'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocketReport'
          description: Socket report
        '400':
          $ref: '#/components/responses/SocketBadRequest'
        '401':
          $ref: '#/components/responses/SocketUnauthorized'
        '403':
          $ref: '#/components/responses/SocketForbidden'
        '404':
          $ref: '#/components/responses/SocketNotFoundResponse'
        '410':
          $ref: '#/components/responses/SocketGone'
        '429':
          $ref: '#/components/responses/SocketTooManyRequestsResponse'
      x-readme: {}
  /repo/list:
    get:
      tags:
      - deprecated
      summary: List GitHub repositories
      deprecated: true
      operationId: getRepoList
      parameters:
      - name: pageToken
        in: query
        required: false
        description: ''
        schema:
          type: string
          default: ''
      security:
      - bearerAuth:
        - repo:list
      - basicAuth:
        - repo:list
      description: '**This endpoint is deprecated.** Use the [successor version](https://docs.socket.dev/reference/getorgrepolist) instead.


        Deprecated: Use `/orgs/{org_slug}/repos` instead. Get all GitHub repositories associated with a Socket org.


        This endpoint consumes 1 unit of your quota.


        This endpoint requires the following org token scopes:

        - repo:list'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                description: ''
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          description: ''
                          default: ''
                        created_at:
                          type: string
                          description: ''
                          default: ''
                        updated_at:
                          type: string
                          description: ''
                          default: ''
                        github_install_id:
                          type: string
                          description: ''
                          default: ''
                        github_repo_id:
                          type: string
                          description: ''
                          default: ''
                        name:
                          type: string
                          description: ''
                          default: ''
                        github_full_name:
                          type: string
                          description: ''
                          default: ''
                        organization_id:
                          type: string
                          description: ''
                          default: ''
                          nullable: true
                        workspace:
                          type: string
                          description: ''
                          default: ''
                        latest_project_report:
                          type: object
                          additionalProperties: false
                          description: ''
                          properties:
                            id:
                              type: string
                              description: ''
                              default: ''
                            created_at:
                              type: string
                              description: ''
                              default: ''
                          required:
                          - created_at
                          - id
                      required:
                      - created_at
                      - github_full_name
                      - github_install_id
                      - github_repo_id
                      - id
                      - name
                      - organization_id
                      - updated_at
                      - workspace
                    description: ''
                required:
                - results
          description: List of GitHub repositories associated with the organization.
        '400':
          $ref: '#/components/responses/SocketBadRequest'
        '401':
          $ref: '#/components/responses/SocketUnauthorized'
        '403':
          $ref: '#/components/responses/SocketForbidden'
        '404':
          $ref: '#/components/responses/SocketNotFoundResponse'
        '429':
          $ref: '#/components/responses/SocketTooManyRequestsResponse'
      x-readme: {}
  /npm/{package}/{version}/issues:
    get:
      tags:
      - deprecated
      summary: Get issues by package
      deprecated: true
      operationId: getIssuesByNPMPackage
      parameters:
      - name: package
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: ''
        schema:
          type: string
      security:
      - bearerAuth: []
      - basicAuth: []
      description: '**This endpoint is deprecated.** Use the [successor version](https://docs.socket.dev/reference) instead.


        Get all the issues related with a particular npm package version.

        This endpoint returns the issue type, location, and additional details related to each issue in the `props` attribute.


        You can [see here](https://socket.dev/alerts) the full list of issues.


        This endpoint consumes 1 unit of your quota.


        This endpoint requires the following org token scopes:

        - No Scopes Required, but authentication is required'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocketIssueList'
          description: Socket issue lists
        '400':
          $ref: '#/components/responses/SocketBadRequest'
        '401':
          $ref: '#/components/responses/SocketUnauthorized'
        '403':
          $ref: '#/components/responses/SocketForbidden'
        '404':
          $ref: '#/components/responses/SocketNotFoundResponse'
        '429':
          $ref: '#/components/responses/SocketTooManyRequestsResponse'
      x-readme: {}
  /npm/{package}/{version}/score:
    get:
      tags:
      - deprecated
      summary: Get score by package
      deprecated: true
      operationId: getScoreByNPMPackage
      parameters:
      - name: package
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: ''
        schema:
          type: string
      security:
      - bearerAuth: []
      - basicAuth: []
      description: '**This endpoint is deprecated.** Use the [successor version](https://docs.socket.dev/reference/batchpackagefetch) instead.


        Get all the scores and metrics by category that are used to evaluate the package version.


        - depscore: The average of all score factors. (0-1)

        - supplyChainRisk: Score factors relating to supply chain security (0-1)

        - downloadCount: The number of downloads for the package. Higher downloads contribute to a higher score.

        - supplyChainRiskIssueLow/Mid/High/Critical: The number of supply chain risk issues of varying severity. Lower numbers contribute to a higher score.

        - dependencyCount: The number of production dependencies. Lower count contributes to a higher score.

        - devDependencyCount: The number of development dependencies. Lower count contributes to a higher score.

        - transitiveDependencyCount: The number of transitive dependencies. Lower count contributes to a higher score.

        - totalDependencyCount: The total number of dependencies (production + development + transitive). Lower count contributes to a higher score.

        - quality: Score factors relating to code quality (0-1)

        - qualityIssueLow/Mid/High/Critical: The number of code quality issues of varying severity. Lower numbers contribute to a higher score.

        - linesOfCode: The number of lines of code in the package. Lower count contributes to a higher score.

        - readmeLength: The length of the package''s README file. Longer READMEs contribute to a higher score.

        - maintenance: Score factors relating to package maintenance (0-1)

        - maintainerCount: The number of maintainers for the package. More maintainers contribute to a higher score.

        - versionsLastWeek/Month/TwoMonths/Year: The number of versions released in different time periods. More recent releases contribute to a higher score.

        - versionCount: The total number of versions released. Higher count contributes to a higher score.

        - maintenanceIssueLow/Mid/High/Critical: The number of maintenance issues of varying severity. Lower numbers contribute to a higher score.

        - vulnerability: Score factors relating to package vulnerabilities (0-1)

        - vulnerabilityIssueLow/Mid/High/Critical: The number of vulnerability issues of varying severity. Lower numbers contribute to a higher score.

        - dependencyVulnerabilityCount: The number of vulnerabilities in the package''s dependencies. Lower count contributes to a higher score.

        - vulnerabilityCount: The number of vulnerabilities in the package itself. Lower count contributes to a higher score.

        - license: Score factors relating to package licensing (0-1)

        - licenseIssueLow/Mid/High/Critical: The number of license issues of varying severity. Lower numbers contribute to a higher score.

        - licenseQuality: A score indicating the quality/permissiveness of the package''s license. Higher quality contributes to a higher score.

        - miscellaneous: Miscellaneous metadata about the package version.

        - versionAuthorName/Email: The name and email of the version author.

        - fileCount: The number of files in the package.

        - byteCount: The total size in bytes of the package.

        - typeModule: Whether the package declares a "type": "module" field.


        This endpoint consumes 1 unit of your quota.


        This endpoint requires the following org token scopes:

        - No Scopes Required, but authentication is required'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocketPackageScore'
          description: Socket package scores
        '400':
          $ref: '#/components/responses/SocketBadRequest'
        '401':
          $ref: '#/components/responses/SocketUnauthorized'
        '403':
          $ref: '#/components/responses/SocketForbidden'
        '404':
          $ref: '#/components/responses/SocketNotFoundResponse'
        '429':
          $ref: '#/components/responses/SocketTooManyRequestsResponse'
      x-readme: {}
  /analytics/org/{filter}:
    get:
      tags:
      - deprecated
      summary: Get organization analytics (unstable)
      deprecated: true
      operationId: getOrgAnalytics
      parameters:
      - name: filter
        in: path
        required: true
        description: ''
        schema:
          type: string
      security:
      - bearerAuth:
        - report:write
      - basicAuth:
        - report:write
      description: '**This endpoint is deprecated.** Use the [successor version](https://docs.socket.dev/reference/historicalalertstrend) instead.


        Please implement against the [Historical dependencies](/reference/historicaldependenciestrend) or [Historical alerts](/reference/historicalalertstrend) endpoints.


        Get analytics data regarding the number of alerts found across all active repositories.


        This endpoint consumes 1 unit of your quota.


        This endpoint requires the following org token scopes:

        - report:write'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: false
                  description: ''
                  properties:
                    id:
                      type: integer
                      description: ''
                      default: 0
                    created_at:
                      type: string
                      description: ''
                      default: ''
                    repository_id:
                      type: string
                      description: ''
                      default: ''
                    organization_id:
                      type: integer
                      description: ''
                      default: 0
                    repository_name:
                      type: string
                      description: ''
                      default: ''
                    total_critical_alerts:
                      type: integer
                      description: ''
                      default: 0
                    total_high_alerts:
                      type: integer
                      description: ''
                      default: 0
                    total_medium_alerts:
                      type: integer
                      description: ''
                      default: 0
                    total_low_alerts:
                      type: integer
                      description: ''
                      default: 0
                    total_critical_added:
                      type: integer
                      description: ''
                      default: 0
                    total_high_added:
                      type: integer
                      description: ''
                      default: 0
                    total_medium_added:
                      type: integer
                      description: ''
                      default: 0
                    total_low_added:
                      type: integer
                      description: ''
                      default: 0
                    total_critical_prevented:
                      type: integer
                      description: ''
                      default: 0
                    total_high_prevented:
                      type: integer
                      description: ''
                      default: 0
                    total_medium_prevented:
                      type: integer
                      description: ''
                      default: 0
                    total_low_prevented:
                      type: integer
                      description: ''
                      default: 0
                    top_five_alert_types:
                      type: object
                      default: {}
                      additionalProperties: false
                  required:
                  - created_at
                  - id
                  - organization_id
                  - repository_id
                  - repository_name
                  - top_five_alert_types
                  - total_critical_added
                  - total_critical_alerts
                  - total_critical_prevented
                  - total_high_added
                  - total_high_alerts
                  - total_high_prevented
                  - total_low_added
                  - total_low_alerts
                  - total_low_prevented
                  - total_medium_added
                  - total_medium_alerts
                  - total_medium_prevented
                description: ''
          description: Socket analytics - organization-level data
        '400':
          $ref: '#/components/responses/SocketBadRequest'
        '401':
          $ref: '#/components/responses/SocketUnauthorized'
        '403':
          $ref: '#/components/responses/SocketForbidden'
        '404':
          $ref: '#/components/responses/SocketNotFoundResponse'
        '429':
          $ref: '#/components/responses/SocketTooManyRequestsResponse'
      x-readme: {}
  /analytics/repo/{name}/{filter}:
    get:
      tags:
      - deprecated
      summary: Get repository analytics
      deprecated: true
      operationId: getRepoAnalytics
      parameters:
      - name: name
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: filter
        in: path
        required: true
        description: ''
        schema:
          type: string
      security:
      - bearerAuth:
        - report:write
      - basicAuth:
        - report:write
      description: '**This endpoint is deprecated.** Use the [successor version](https://docs.socket.dev/reference/historicalalertstrend) instead.


        Please implement against the [Historical dependencies](/reference/historicaldependenciestrend) or [Historical alerts](/reference/historicalalertstrend) endpoints.


        Get analytics data regarding the number of alerts found in a single repository.


        This endpoint consumes 1 unit of your quota.


        This endpoint requires the following org token scopes:

        - report:write'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: false
                  description: ''
                  properties:
                    id:
                      type: integer
                      description: ''
                      default: 0
                    repository_id:
                      type: string
                      description: ''
                      default: ''
                    created_at:
                      type: string
                      description: ''
                      default: ''
                    organization_id:
                      type: integer
                      description: ''
                      default: 0
                    repository_name:
                      type: string
                      description: ''
                      default: ''
                    total_critical_alerts:
                      type: integer
                      description: ''
                      default: 0
                    total_high_alerts:
                      type: integer
                      description: ''
                      default: 0
                    total_medium_alerts:
                      type: integer
                      description: ''
                      default: 0
                    total_low_alerts:
                      type: integer
                      description: ''
                      default: 0
                    total_critical_added:
                      type: integer
                      description: ''
                      default: 0
                    total_high_added:
                      type: integer
                      description: ''
                      default: 0
                    total_medium_added:
                      type: integer
                      description: ''
                      default: 0
                    total_low_added:
                      type: integer
                      description: ''
                      default: 0
                    total_critical_prevented:
                      type: integer
                      description: ''
                      default: 0
                    total_high_prevented:
                      type: integer
                      description: ''
                      default: 0
                    total_medium_prevented:
                      type: integer
                      description: ''
                      default: 0
                    total_low_prevented:
                      type: integer
                      description: ''
                      default: 0
                    top_five_alert_types:
                      type: object
                      default: {}
                      additionalProperties: false
                  required:
                  - created_at
                  - id
                  - organization_id
                  - repository_id
                  - repository_name
                  - top_five_alert_types
                  - total_critical_added
                  - total_critical_alerts
                  - total_critical_prevented
                  - total_high_added
                  - total_high_alerts
                  - total_high_prevented
                  - total_low_added
                  - total_low_alerts
                  - total_low_prevented
                  - total_medium_added
                  - total_medium_alerts
                  - total_medium_prevented
                description: ''
          description: Socket analytics - repo-level data
        '400':
          $ref: '#/components/responses/SocketBadRequest'
        '401':
          $ref: '#/components/responses/SocketUnauthorized'
        '403':
          $ref: '#/components/responses/SocketForbidden'
        '404':
          $ref: '#/components/responses/SocketNotFoundResponse'
        '429':
          $ref: '#/components/responses/SocketTooManyRequestsResponse'
      x-readme: {}
components:
  schemas:
    SAttrib1_N:
      type: array
      items:
        type: object
        additionalProperties: false
        description: ''
        properties:
          attribText:
            type: string
            description: Full text of the license attribution or copyright notice found in the package
            default: ''
          attribData:
            type: array
            items:
              type: object
              additionalProperties: false
              description: ''
              properties:
                purl:
                  type: string
                  description: Package URL this attribution applies to
                  default: ''
                foundInFilepath:
                  type: string
                  description: File path where this attribution was found
                  default: ''
                spdxExpr:
                  type: string
                  description: SPDX license expression parsed from the attribution text
                  default: ''
                foundAuthors:
                  type: array
                  items:
                    type: string
                    description: ''
                    default: ''
                  description: Authors mentioned in this attribution
              required:
              - foundAuthors
              - foundInFilepath
              - purl
              - spdxExpr
            description: ''
        required:
        - attribData
        - attribText
      description: ''
    SocketArtifactLink:
      type: object
      additionalProperties: false
      properties:
        direct:
          type: boolean
          default: false
          description: Indicates if this is a direct dependency (not transitive)
        dev:
          type: boolean
          default: false
          description: Indicates if this is a development-only dependency not used in production
        dead:
          type: boolean
          default: false
          description: Indicates if this package is deprecated, abandoned, or no longer maintained
        manifestFiles:
          type: array
          items:
            $ref: '#/components/schemas/SocketManifestReference'
          description: ''
        topLevelAncestors:
          type: array
          items:
            $ref: '#/components/schemas/SocketId'
          description: IDs of the root-level packages in the dependency tree that depend on this package
        dependencies:
          type: array
          items:
            $ref: '#/components/schemas/SocketId'
          description: IDs of packages that this package directly depends on
        alertPriorities:
          type: object
          additionalProperties:
            type: object
            additionalProperties: false
            properties:
              result:
                type: integer
                description: Computed priority score for this alert
                default: 0
              components:
                type: object
                additionalProperties: false
                description: ''
                properties:
                  isFixable:
                    type: object
                    additionalProperties: false
                    description: ''
                    properties:
                      result:
                        type: number
                        description: Contribution of fixability to the priority score
                        default: 0
                      value:
                        type: boolean
                        default: false
                        description: Whether a fix is available for this alert
                    required:
                    - result
                    - value
                  isReachable:
                    type: object
                    additionalProperties: false
                    description: ''
                    properties:
                      result:
                        type: number
                        description: Contribution of reachability to the priority score
                        default: 0
                      value:
                        type: boolean
                        default: false
                        description: Whether the vulnerable code is reachable
                      specificValue:
                        type: string
                        description: Specific reachability type value such as 'unreachable', 'maybe_reachable', or 'reachable'
                        default: ''
                    required:
                    - result
                    - specificValue
                    - value
                  severity:
                    type: object
                    additionalProperties: false
                    description: ''
                    properties:
                      result:
                        type: number
                        description: Contribution of severity to the priority score
                        default: 0
                      value:
                        type: integer
                        description: Numeric severity level
                        default: 0
                    required:
                    - result
                    - value
                required:
                - isFixable
                - isReachable
                - severity
              formula:
                type: string
                description: Formula used to calculate the priority score
                default: ''
            required:
            - result
          properties: {}
          description: Computed priority scores for each alert type based on severity, reachability, and fixability factors
        artifact:
          allOf:
          - $ref: '#/components/schemas/SocketPURL'
          - type: object
            additionalProperties: false
            properties:
              id:
                $ref: '#/components/schemas/SocketId'
            required:
            - id
        alertKeysToReachabilityTypes:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
              description: ''
              default: ''
            description: ''
          properties: {}
          description: 'Deprecated: mapping of alert keys to arrays of reachability types found across different manifest files or code locations. This field is derived from alertKeysToReachabilitySummaries for backward compatibility; use that property instead.'
        alertKeysToReachabilitySummaries:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties: false
              description: ''
              properties:
                type:
                  type: string
                  description: ''
                  default: ''
              required:
              - type
            description: ''
          properties: {}
          description: Mapping of alert keys to arrays of reachability summaries. Each summary contains a reachability type indicating the result of reachability analysis for the corresponding vulnerability alert.
      description: ''
    SocketMetricSchema:
      type: object
      additionalProperties: false
      properties:
        score:
          type: number
          description: ''
          default: 0
        components:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/SocketMetricComponent'
          properties: {}
          description: ''
        limit:
          type: number
          description: ''
          default: 0
        limitingMetric:
          type: string
          description: ''
          default: ''
      required:
      - components
      - score
    ClassStackItem:
      type: object
      additionalProperties: false
      properties:
        purl:
          type: string
          description: Package URL (PURL) of the dependency containing this class
          default: ''
        class:
          type: string
          description: Name of the class in the dependency
          default: ''
        confidence:
          type: number
          description: Confidence score from 0.0 to 1.0 indicating how certain the reachability analysis is about this result
          default: 0
      description: ''
    SocketReport:
      type: object
      additionalProperties: false
      description: ''
      properties:
        id:
          type: string
          description: ''
          default: ''
        healthy:
          type: boolean
          default: false
          description: ''
        issues:
          $ref: '#/components/schemas/SocketIssueList'
        score:
          type: object
          additionalProperties: false
          description: ''
          properties:
            avgSupplyChainRisk:
              type: number
              description: ''
              default: 0
            avgQuality:
              type: number
              description: ''
              default: 0
            avgMaintenance:
              type: number
              description: ''
              default: 0
            avgVulnerability:
              type: number
              description: ''
              default: 0
            avgLicense:
              type: number
              description: ''
              default: 0
          required:
          - avgLicense
          - avgMaintenance
          - avgQuality
          - avgSupplyChainRisk
          - avgVulnerability
        url:
          type: string
          description: ''
          default: ''
      required:
      - healthy
      - id
      - issues
      - score
      - url
    SocketRef:
      anyOf:
      - type: object
        additionalProperties: false
        properties:
          type:
            type: string
            enum:
            - unknown
          value:
            type: object
            additionalProperties: false
            description: ''
            properties: {}
      - type: object
        additionalProperties: false
        properties:
          type:
            type: string
            enum:
            - npm
          value:
            $ref: '#/components/schemas/SocketRefNPM'
      - type: object
        additionalProperties: false
        properties:
          type:
            type: string
            enum:
            - git
          value:
            $ref: '#/components/schemas/SocketRefGit'
      - type: object
        additionalProperties: false
        properties:
          type:
            type: string
            enum:
            - web
          value:
            $ref: '#/components/schemas/SocketRefWeb'
      - type: object
        additionalProperties: false
        properties:
          type:
            type: string
            enum:
            - pypi
          value:
            $ref: '#/components/schemas/SocketRefPyPI'
      - type: object
        additionalProperties: false
        properties:
          type:
            type: string
            enum:
            - go
          value:
            $ref: '#/components/schemas/SocketRefGo'
    LicenseAllowList:
      type: object
      additionalProperties: false
      description: ''
      properties:
        strings:
          type: array
          items:
            type: string
            description: ''
            default: ''
          description: ''
      required:
      - strings
    ReachabilityType:
      type: string
      enum:
      - missing_support
      - undeterminable_reachability
      - pending
      - unreachable
      - unknown
      - direct_dependency
      - error
      - maybe_reachable
      - reachable
      description: Status of reachability analysis for vulnerable code paths
      default: unknown
    SocketDiffArtifactType:
      type: string
      enum:
      - added
      - removed
      - updated
      - replaced
      - unchanged
      description: Type of change detected for this artifact in the diff
      default: unchanged
    SocketPURL_Type:
      type: string
      enum:
      - alpm
      - apk
      - bitbucket
      - cocoapods
      - cargo
      - chrome
      - clawhub
      - composer
      - conan
      - conda
      - cran
      - deb
      - docker
      - gem
      - generic
      - github
      - golang
      - hackage
      - hex
      - huggingface
      - maven
      - mlflow
      - npm
      - nuget
      - qpkg
      - oci
      - pub
      - pypi
      - rpm
      - socket
      - swid
      - swift
      - vscode
      - unknown
      description: Package ecosystem type identifier based on the PURL specification
      default: unknown
    ReachabilityResult:
      type: object
      additionalProperties: false
      description: ''
      properties:
        type:
          type: string
          enum:
          - precomputed
          - full-scan
          description: Type of reachability analysis performed
          default: precomputed
        results:
          type: array
          items:
            $ref: '#/components/schemas/ReachabilityResultItem'
          description: Reachability analysis results for each vulnerability
      required:
      - results
      - type
    SocketRefGo:
      type: object
      additionalProperties: false
      properties:
        package:
          type: string
          description: ''
          default: ''
        version:
          type: string
          description: ''
          default: ''
        file:
          $ref: '#/components/schemas/SocketRefFile'
      required:
      - package
    Qualifiers: {}
    SocketRefTextRange:
      type: object
      additionalProperties: false
      description: ''
      properties:
        startLine:
          type: integer
          description: ''
          default: 0
        startColumn:
          type: integer
          description: ''
          default: 0
        endLine:
          type: integer
          description: ''
          default: 0
        endColumn:
          type: integer
          description: ''
          default: 0
      required:
      - endColumn
      - endLine
      - startColumn
      - startLine
    SourceLocation:
      type: object
      additionalProperties: false
      description: ''
      properties:
        start:
          type: object
          additionalProperties: false
          description: ''
          properties:
            line:
              type: integer
              description: Line number in the source file
              default: 0
            column:
              type: integer
              description: Column number in the source file
              default: 0
            byteOffset:
              type: integer
              description: Absolute byte position from the beginning of the file, used for precise location tracking
              default: 0
          required:
          - byteOffset
          - column
          - line
        end:
          type: object
          additionalProperties: false
          properties:
            line:
              type: integer
              description: Line number in the source file
              default: 0
            column:
              type: integer
              description: Column number in the source file
              default: 0
            byteOffset:
              type: integer
              description: Absolute byte position from the beginning of the file, used for precise location tracking
              default: 0
          description: ''
        filename:
          type: string
          description: Path to the source file
          default: ''
        fileHash:
          type: string
          description: Hash of the source file for integrity verification
          default: ''
      required:
      - end
      - fileHash
      - filename
      - start
    SocketIssueSeverity:
      type: string
      enum:
      - low
      - middle
      - high
      - critical
      description: ''
      default: low
    SocketUsageRef:
      type: object
      additionalProperties: false
      description: ''
      properties:
        file:
          $ref: '#/components/schemas/SocketRefFile'
        dependencies:
          $ref: '#/components/schemas/SocketRefList'
      required:
      - dependencies
      - file
    SocketRefByteRange:
      type: object
      additionalProperties: false
      description: ''
      properties:
        start:
          type: integer
          description: ''
          default: 0
        end:
          type: integer
          description: ''
          default: 0
      required:
      - end
      - start
    SocketRefPyPI:
      type: object
      additionalProperties: false
      properties:
        package:
          type: string
          description: ''
          default: ''
        version:
          type: string
          description: ''
          default: ''
        artifact:
          type: string
          description: ''
          default: ''
        file:
          $ref: '#/components/schemas/SocketRefFile'
      required:
      - package
    ReachabilityResultItem:
      type: object
      additionalProperties: false
      properties:
        type:
          $ref: '#/components/schemas/ReachabilityType'
        truncated:
          type: boolean
          default: false
          description: Indicates if the reachability analysis was stopped early due to depth or complexity limits
        error:
          type: string
          description: Error message if reachability analysis failed
          default: ''
        matches:
          anyOf:
          - type: object
            additionalProperties: false
            properties:
              type:
                type: string
                enum:
                - function-level
              value:
                type: array
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/CallStackItem'
                  description: ''
                description: ''
          - type: object
            additionalProperties: false
            properties:
              type:
                type: string
                enum:
                - class-level
              value:
                type: array
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/ClassStackItem'
                  description: ''
                description: ''
        workspacePath:
          type: string
          description: Path to the workspace root for multi-workspace projects
          default: ''
        subprojectPath:
          type: string
          description: Path to the subproject within the workspace
          default: ''
      required:
      - type
    SocketRefWeb:
      type: object
      additionalProperties: false
      properties:
        url:
          type: string
          description: ''
          default: ''
        file:
          $ref: '#/components/schemas/SocketRefFile'
      required:
      - url
    SocketRefList:
      type: array
      items:
        $ref: '#/components/schemas/SocketRef'
      description: ''
    SocketIssueBasics:
      type: object
      additionalProperties: false
      description: ''
      properties:
        severity:
          $ref: '#/components/schemas/SocketIssueSeverity'
        category:
          $ref: '#/components/schemas/SocketCategory'
        locations:
          $ref: '#/components/schemas/SocketRefList'
        label:
          type: string
          description: ''
          default: ''
      required:
      - category
      - label
      - locations
      - severity
    SocketPatch:
      type: object
      additionalProperties: false
      properties:
        uuid:
          type: string
          description: Unique identifier for this patch
          default: ''
        tier:
          type: string
          enum:
          - free
          - paid
          description: Access tier required for this patch (free or paid)
          default: free
        deprecated:
          type: boolean
          default: false
          description: Indicates if this patch is deprecated and should not be used
      required:
      - tier
      - uuid
    Capabilities:
      type: object
      additionalProperties: false
      description: ''
      properties:
        env:
          type: boolean
          default: false
          description: Package can read or modify environment variables
        eval:
          type: boolean
          default: false
          description: Package uses dynamic code evaluation (eval, Function constructor, etc.)
        fs:
          type: boolean
          default: false
          description: Package can read or write to the file system
        net:
          type: boolean
          default: false
          description: Package can make network requests or create servers
        shell:
          type: boolean
          default: false
          description: Package can execute shell commands or spawn processes
        unsafe:
          type: boolean
          default: false
          description: Package uses unsafe or dangerous operations that could compromise security
        url:
          type: boolean
          default: false
          description: Package contains remote URL(s) in the source code
      required:
      - env
      - eval
      - fs
      - net
      - shell
      - unsafe
      - url
    SocketAlert:
      type: object
      additionalProperties: false
      properties:
        key:
          type: string
          description: Unique identifier for this alert instance, used for deduplication and tracking across scans
          default: ''
        type:
          type: string
          description: Alert type identifier referencing the alert type definition
          default: ''
        severity:
          $ref: '#/components/schemas/SocketIssueSeverity'
        category:
          $ref: '#/components/schemas/SocketCategory'
        file:
          type: string
          description: File path where this alert was detected
          default: ''
        start:
          type: integer
          description: Starting position of the alert in the file
          default: 0
        end:
          type: integer
          description: Ending position of the alert in the file
          default: 0
        props:
          type: object
          description: Additional alert-specific properties and metadata that vary by alert type. For vulnerability alerts this includes the `cveId` and `ghsaId` identifiers, either of which may be an empty string when GitHub has not assigned that identifier to the advisory.
          default: null
        action:
          type: string
          description: Action to take for this alert (e.g., error, warn, ignore)
          default: ''
        actionSource:
          type: object
          additionalProperties: false
          description: ''
          properties:
            type:
              type: string
              description: Type of action source (e.g., policy, override)
              default: ''
            candidates:
              type: array
              items:
                type: object
                additionalProperties: false
                description: ''
                properties:
                  type:
                    type: string
                    description: Type of action candidate
                    default: ''
                  action:
                    type: string
                    description: Proposed action for this candidate
[...]
