openapi: 3.2.0
info:
  description: Specification of the Socket API endpoints
  title: Endpoints License Policy API
  version: '0'
servers:
- url: https://api.socket.dev/v0
tags:
- name: license-policy
paths:
  /orgs/{org_slug}/settings/license-policy:
    post:
      tags:
      - license-policy
      summary: Update License Policy
      operationId: updateOrgLicensePolicy
      parameters:
      - name: org_slug
        in: path
        required: true
        description: The slug of the organization
        schema:
          type: string
      - name: merge_update
        in: query
        required: true
        description: Merge the policy update with the existing policy. Default is true. If false, the existing policy will be replaced with the new policy.
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: ''
              default: null
        required: false
      security:
      - bearerAuth:
        - license-policy:update
      - basicAuth:
        - license-policy:update
      description: 'Set the organization''s license policy


        ## License policy schema


        ```json

        {

        allow?: Array

        warn?: Array

        options?: Array

        }

        ```


        Elements of the `allow` and `warn` arrays strings representing items which should be allowed, or which should trigger a warning; license data found in package which not present in either array will produce a license violation (effectively a "hard" error). For example, to allow Apache-2.0 and MIT to the allow list, simply add the strings "Apache-2.0" and "MIT" to the `allow` array. Strings appearing in these arrays are generally "what you see is what you get", with two important exceptions: strings which are recognized as license classes and strings which are recognized as PURLs are handled differently to allow for more flexible license policy creation.


        ## License Classes


        Strings which are license classes will expand to a list of licenses known to be in that particular license class. Recognized license classes are:

        ''permissive'',

        ''permissive (model)'',

        ''permissive (gold)'',

        ''permissive (silver)'',

        ''permissive (bronze)'',

        ''permissive (lead)'',

        ''copyleft'',

        ''maximal copyleft'',

        ''network copyleft'',

        ''strong copyleft'',

        ''weak copyleft'',

        ''contributor license agreement'',

        ''public domain'',

        ''proprietary free'',

        ''source available'',

        ''proprietary'',

        ''commercial'',

        ''patent''


        Users can learn more about copyleft tiers and permissive tiers by reading the linked resources.


        ## PURLs


        Users may also modify their license policy''s allow and warn lists by using package URLs (aka PURLs), which support glob patterns to allow a range of versions, files and directories, etc.


        purl qualifiers which support globs are `filename`, `version_glob`, `artifact_id` and `license_provenance` (primarily used for allowing data from registry metadata).


        ### Examples:

        Allow all license data found in a specific version of a package 4.14.1: `pkg:npm/lodash@4.14.1`

        Allow all license data found in a version range of a package: `pkg:npm/lodash?version_glob=15.*`

        Allow all license data in the test directory of a given package for certain version ranges: `pkg:npm/lodash@15.*.*?file_name=lodash/test/*`

        Allow all license data taken from the package registry for a package and version range: `pkg:npm/lodash?version_glob=*&license_provenance=registry_metadata`


        ## Available options


        `toplevelOnly`: only apply the license policy to "top level" license data in a package, which includes registry metadata, LICENSE files, and manifest files which are closest to the root of the package.


        `applyToUnidentified`: Apply license policy to found but unidentified license data. If enabled, the license policy will be applied to license data which could not be affirmatively identified as a known license (this will effectively merge the license policy violation and unidentified license alerts). If disabled, license policy alerts will only be shown for license data which is positively identified as something not allowed or set to warn by the license policy.


        This endpoint consumes 1 unit of your quota.


        This endpoint requires the following org token scopes:

        - license-policy:update'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: ''
                default: null
          description: Updated repository details
        '400':
          $ref: '#/components/responses/SocketBadRequest'
        '401':
          $ref: '#/components/responses/SocketUnauthorized'
        '403':
          $ref: '#/components/responses/SocketForbidden'
        '404':
          $ref: '#/components/responses/SocketNotFoundResponse'
        '429':
          $ref: '#/components/responses/SocketTooManyRequestsResponse'
      x-readme: {}
  /orgs/{org_slug}/settings/license-policy/view:
    get:
      tags:
      - license-policy
      summary: Get License Policy (Beta)
      operationId: viewLicensePolicy
      parameters:
      - name: org_slug
        in: path
        required: true
        description: The slug of the organization
        schema:
          type: string
      security:
      - bearerAuth:
        - license-policy:read
      - basicAuth:
        - license-policy:read
      description: 'Returns an organization''s license policy including allow, warn, monitor, and deny categories.

        The deny category contains all licenses that are not explicitly categorized as allow, warn, or monitor.


        This endpoint consumes 1 unit of your quota.


        This endpoint requires the following org token scopes:

        - license-policy:read'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SStoredLicensePolicy'
          description: Saturated License Allow List
        '400':
          $ref: '#/components/responses/SocketBadRequest'
        '401':
          $ref: '#/components/responses/SocketUnauthorized'
        '403':
          $ref: '#/components/responses/SocketForbidden'
        '404':
          $ref: '#/components/responses/SocketNotFoundResponse'
        '429':
          $ref: '#/components/responses/SocketTooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/SocketInternalServerError'
      x-readme: {}
  /license-policy:
    post:
      tags:
      - license-policy
      summary: License Policy (Beta)
      operationId: licensePolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LicenseAllowListRequest'
        required: false
      security:
      - bearerAuth:
        - packages:list
        - license-policy:read
      - basicAuth:
        - packages:list
        - license-policy:read
      description: 'Compare the license data found for a list of packages (given as PURL strings) with the contents of a configurable license policy,

        returning information about license data which does not comply with the license allow list.'
      responses:
        '200':
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: false
                  description: ''
                  properties:
                    filepathOrProvenance:
                      type: array
                      items:
                        type: string
                        description: ''
                        default: ''
                      description: ''
                    level:
                      type: string
                      description: ''
                      default: ''
                    purl:
                      type: string
                      description: ''
                      default: ''
                    spdxAtomOrExtraData:
                      type: string
                      description: ''
                      default: ''
                    violationExplanation:
                      type: string
                      description: ''
                      default: ''
                  required:
                  - filepathOrProvenance
                  - level
                  - purl
                  - spdxAtomOrExtraData
                  - violationExplanation
                description: ''
          description: Data about license policy violations, if any exist
        '400':
          $ref: '#/components/responses/SocketBadRequest'
        '401':
          $ref: '#/components/responses/SocketUnauthorized'
        '403':
          $ref: '#/components/responses/SocketForbidden'
        '404':
          $ref: '#/components/responses/SocketNotFoundResponse'
        '429':
          $ref: '#/components/responses/SocketTooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/SocketInternalServerError'
      x-readme: {}
  /license-metadata:
    post:
      tags:
      - license-policy
      summary: License Metadata
      operationId: licenseMetadata
      parameters:
      - name: includetext
        in: query
        required: false
        description: If `true`, the response will include the full text of the requested licenses
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SLicenseMetaReq'
        required: false
      security: []
      description: 'For an array of license identifiers or names (short form SPDX identifiers, or long form license names),

        returns an array of metadata for the corresponding license, if the license is recognized. If the query

        parameter `includetext=true` is set, the returned metadata will also include the license text.


        ## Example request body:


        ```json

        [

        "Apache-2.0",

        "BSD Zero Clause License"

        ]

        ```


        ## Return value


        ```json

        // Response schema:

        Array

        text?: string

        }>


        // Example response:

        [

        {

        "licenseId": "Apache-2.0",

        "name": "Apache License 2.0",

        "deprecated": false,

        "crossref": "https://spdx.org/licenses/Apache-2.0.html",

        "classes": [

        "fsf libre",

        "osi approved",

        "permissive (silver)"

        ]

        },

        {

        "licenseId": "0BSD",

        "name": "BSD Zero Clause License",

        "deprecated": false,

        "crossref": "https://spdx.org/licenses/0BSD.html",

        "classes": [

        "osi approved",

        "permissive (bronze)"

        ]

        }

        ]

        ```


        ## License policy schema


        ```json

        {

        allow?: Array

        warn?: Array

        options?: Array

        }

        ```


        Elements of the `allow` and `warn` arrays strings representing items which should be allowed, or which should trigger a warning; license data found in package which not present in either array will produce a license violation (effectively a "hard" error). For example, to allow Apache-2.0 and MIT to the allow list, simply add the strings "Apache-2.0" and "MIT" to the `allow` array. Strings appearing in these arrays are generally "what you see is what you get", with two important exceptions: strings which are recognized as license classes and strings which are recognized as PURLs are handled differently to allow for more flexible license policy creation.


        ## License Classes


        Strings which are license classes will expand to a list of licenses known to be in that particular license class. Recognized license classes are:

        ''permissive'',

        ''permissive (model)'',

        ''permissive (gold)'',

        ''permissive (silver)'',

        ''permissive (bronze)'',

        ''permissive (lead)'',

        ''copyleft'',

        ''maximal copyleft'',

        ''network copyleft'',

        ''strong copyleft'',

        ''weak copyleft'',

        ''contributor license agreement'',

        ''public domain'',

        ''proprietary free'',

        ''source available'',

        ''proprietary'',

        ''commercial'',

        ''patent''


        Users can learn more about copyleft tiers and permissive tiers by reading the linked resources.


        ## PURLs


        Users may also modify their license policy''s allow and warn lists by using package URLs (aka PURLs), which support glob patterns to allow a range of versions, files and directories, etc.


        purl qualifiers which support globs are `filename`, `version_glob`, `artifact_id` and `license_provenance` (primarily used for allowing data from registry metadata).


        ### Examples:

        Allow all license data found in a specific version of a package 4.14.1: `pkg:npm/lodash@4.14.1`

        Allow all license data found in a version range of a package: `pkg:npm/lodash?version_glob=15.*`

        Allow all license data in the test directory of a given package for certain version ranges: `pkg:npm/lodash@15.*.*?file_name=lodash/test/*`

        Allow all license data taken from the package registry for a package and version range: `pkg:npm/lodash?version_glob=*&license_provenance=registry_metadata`


        ## Available options


        `toplevelOnly`: only apply the license policy to "top level" license data in a package, which includes registry metadata, LICENSE files, and manifest files which are closest to the root of the package.


        `applyToUnidentified`: Apply license policy to found but unidentified license data. If enabled, the license policy will be applied to license data which could not be affirmatively identified as a known license (this will effectively merge the license policy violation and unidentified license alerts). If disabled, license policy alerts will only be shown for license data which is positively identified as something not allowed or set to warn by the license policy.


        This endpoint consumes 1 unit of your quota.


        This endpoint requires the following org token scopes:'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SLicenseMetaRes'
          description: Metadata for the requested licenses
        '400':
          $ref: '#/components/responses/SocketBadRequest'
      x-readme: {}
components:
  responses:
    SocketInternalServerError:
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            description: ''
            properties:
              error:
                type: object
                additionalProperties: false
                description: ''
                properties:
                  message:
                    type: string
                    description: ''
                    default: ''
                  details:
                    type:
                    - object
                    - 'null'
                    description: ''
                    default: null
                required:
                - details
                - message
            required:
            - error
      description: Internal server error
    SocketTooManyRequestsResponse:
      description: Insufficient quota for API route
      headers:
        Retry-After:
          description: 'Retry contacting the endpoint *at least* after seconds.

            See https://tools.ietf.org/html/rfc7231#section-7.1.3'
          schema:
            format: int32
            type: integer
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            description: ''
            properties:
              error:
                type: object
                additionalProperties: false
                description: ''
                properties:
                  message:
                    type: string
                    description: ''
                    default: ''
                  details:
                    type:
                    - object
                    - 'null'
                    description: ''
                    default: null
                required:
                - details
                - message
            required:
            - error
    SocketBadRequest:
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            description: ''
            properties:
              error:
                type: object
                additionalProperties: false
                description: ''
                properties:
                  message:
                    type: string
                    description: ''
                    default: ''
                  details:
                    type:
                    - object
                    - 'null'
                    description: ''
                    default: null
                required:
                - details
                - message
            required:
            - error
      description: Bad request
    SocketNotFoundResponse:
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            description: ''
            properties:
              error:
                type: object
                additionalProperties: false
                description: ''
                properties:
                  message:
                    type: string
                    description: ''
                    default: ''
                  details:
                    type:
                    - object
                    - 'null'
                    description: ''
                    default: null
                required:
                - details
                - message
            required:
            - error
      description: Resource not found
    SocketUnauthorized:
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            description: ''
            properties:
              error:
                type: object
                additionalProperties: false
                description: ''
                properties:
                  message:
                    type: string
                    description: ''
                    default: ''
                  details:
                    type:
                    - object
                    - 'null'
                    description: ''
                    default: null
                required:
                - details
                - message
            required:
            - error
      description: Unauthorized
    SocketForbidden:
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            description: ''
            properties:
              error:
                type: object
                additionalProperties: false
                description: ''
                properties:
                  message:
                    type: string
                    description: ''
                    default: ''
                  details:
                    type:
                    - object
                    - 'null'
                    description: ''
                    default: null
                required:
                - details
                - message
            required:
            - error
      description: Insufficient max_quota for API method
  schemas:
    LicenseAllowListRequest:
      type: object
      description: ''
      default: null
    SLicenseMetaReq:
      type: object
      description: ''
      default: null
    SStoredLicensePolicy:
      type: object
      additionalProperties: false
      description: ''
      properties:
        allow:
          type:
          - array
          - 'null'
          items:
            type: string
            description: ''
            default: ''
          description: ''
        warn:
          type:
          - array
          - 'null'
          items:
            type: string
            description: ''
            default: ''
          description: ''
        monitor:
          type:
          - array
          - 'null'
          items:
            type: string
            description: ''
            default: ''
          description: ''
        deny:
          type:
          - array
          - 'null'
          items:
            type: string
            description: ''
            default: ''
          description: ''
        options:
          type:
          - array
          - 'null'
          items:
            type: string
            description: ''
            default: ''
          description: ''
      required:
      - allow
      - deny
      - monitor
      - options
      - warn
    SLicenseMetaRes:
      type: object
      description: ''
      default: null
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Organization Tokens can be passed as a Bearer token
    basicAuth:
      type: http
      scheme: basic
      description: Organization Tokens can be passed as the user field in basic auth
